footer.footer
	.wrapper.footer__wrapper
		a.footer__link-footer(href="https://rt-solar.ru/" target="_blank")
			img.footer__logo-footer(src="images/logo.svg" alt="Логотип компании Ростелеком Солар")
		p.footer__address.text Центр событий РБК<br> Москва, Космодамианская набережная, д. 52, стр. 7
		ul.footer__social-list
			li.footer__social-item
				a.footer__social-link(href="https://t.me/solar_security" target="_blank")
					+svg("social-telegram")(class="footer__svg-telegram")
			li.footer__social-item
				a.footer__social-link(href="https://vk.com/rostelecom_solar/" target="_blank")
					+svg("social-vk")(class="footer__svg-vk")
