footer.footer
	.wrapper.footer__wrapper
		a.footer__link-footer(href="https://rt-solar.ru/" target="_blank")
			img.footer__logo-footer(src="images/logo.svg" alt="Логотип компании Ростелеком Солар")
		p.footer__address.text Центр событий РБК<br> Москва, Космодамианская набережная, д. 52, стр. 7
		ul.footer__social-list
			li.footer__social-item
				a.footer__social-link(href="https://t.me/solar_security" target="_blank")
					| <svg class="footer__svg-telegram" width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
					| <path d="M0.309814 9.07599C0.55869 8.67775 0.953645 8.48248 1.37024 8.32302C6.94226 6.18819 12.5149 4.05502 18.0874 1.92165C18.8825 1.61729 19.6774 1.31253 20.4731 1.00984C20.578 0.969871 20.6854 0.929693 20.7952 0.910125C21.4765 0.789592 22.0009 1.18575 21.9697 1.87751C21.9443 2.44167 21.8197 3.00499 21.7025 3.56082C21.0404 6.70113 20.3676 9.83916 19.6975 12.9778C19.348 14.6159 18.9965 16.2537 18.6457 17.8916C18.6353 17.9397 18.6213 17.9869 18.6082 18.0344C18.2954 19.1658 17.4504 19.1365 16.7708 18.6487C15.1895 17.5142 13.6269 16.3538 12.0567 15.204C12.0001 15.1626 11.9429 15.1224 11.873 15.0725C11.8236 15.1141 11.7747 15.1512 11.7306 15.1932C10.9236 15.9622 10.1167 16.7314 9.31074 17.5017C9.07664 17.7254 8.80675 17.851 8.45674 17.8385C8.48483 17.4055 8.51022 16.9862 8.53956 16.5672C8.61926 15.4345 8.70541 14.3022 8.77762 13.1691C8.79322 12.9254 8.85711 12.7451 9.0525 12.5704C12.0197 9.91889 14.9772 7.25696 17.9371 4.59732C17.9895 4.55027 18.0541 4.50884 18.0876 4.45014C18.1292 4.37728 18.1877 4.26528 18.1593 4.21407C18.1279 4.15703 17.9981 4.1104 17.9271 4.12726C17.7525 4.16869 17.5711 4.22344 17.4202 4.31753C14.8128 5.94213 12.2094 7.57318 9.6054 9.20339C8.45861 9.92118 7.31391 10.6421 6.16338 11.3536C6.08181 11.404 5.94843 11.4271 5.85853 11.3996C4.27081 10.9138 2.68641 10.4179 1.10097 9.92472C0.778433 9.82438 0.484194 9.68469 0.309814 9.37243L0.309814 9.07599Z"/>
					| </svg>
					//+svg("social-telegram")(class="footer__svg-telegram")
			li.footer__social-item
				a.footer__social-link(href="https://vk.com/rostelecom_solar/" target="_blank")
					| <svg width="27" height="17" viewBox="0 0 27 17" fill="none" xmlns="http://www.w3.org/2000/svg">
					| <path d="M14.6131 16.7981C5.72803 16.7981 0.337431 10.6221 0.126221 0.359375H4.62626C4.76654 7.89815 8.19005 11.0927 10.8144 11.7496V0.359375H15.1269V6.86539C17.6583 6.58431 20.3079 3.62502 21.1984 0.359375H25.4431C24.7638 4.37511 21.8793 7.3344 19.8413 8.55506C21.8809 9.54202 25.1625 12.1255 26.4282 16.7981H21.7627C20.7776 13.6746 18.3644 11.2554 15.1285 10.9269V16.7981H14.6131Z"/>
					| </svg>
					//+svg("social-vk")(class="footer__svg-vk")
