header.page-header
	video.page-header__video.js-video(autoplay muted playsinline)
		source(src="video/video.mp4" type="video/mp4")
		source(src="video/video.webm" type="video/webm")
	.wrapper.page-header__wrapper
		.page-header__top-line
			a.page-header__link-logo(href="https://rt-solar.ru/" target="_blank")
				img.page-header__logo(src="images/logo.svg" alt="Логотип компании Ростелеком Солар")
			button.btn.btn_white.page-header__registration.js-go-to-registration(data-target="registration-section") Регистрация
		.page-header__promo
			h1.title-h1.page-header__title Время пролить<br> <span>свет</span>
			p.text.page-header__text-date 14 сентября 2023, начало в 16:00
			p.text.page-header__text-address Центр событий РБК<br> Москва, Космодамианская набережная, д. 52, стр. 7
			button.btn.page-header__registartion-bottom.js-go-to-registration(data-target="registration-section") Регистрация



