section.members
	.wrapper.members__wrapper
		p.title-h2.members__title Здесь говорят о реальной безопасности
		.members__slider-wrapper
			.members__slider-buttons
				.members__slider-nav-button.members__slider-nav-button_prev.slick-button-prev
				.members__slider-nav-button.members__slider-nav-button_next.slick-button-next
		.members__slider.js-member-slider
			.members__slider-item
				.members__avatar
					img.members__img(src="images/speaker-1.jpg" alt="Игорь Ляпунов")
				.members__text
					p.members__name Игорь Ляпунов
					p.members__job-title.text Генеральный директор
					p.members__description.text От стартапа к игроку национального масштаба. Трансформация компании в ответ на запрос рынка. Куда идем мы и кибербез.
			.members__slider-item
				.members__avatar
					img.members__img(src="images/speaker-2.jpg" alt="Владимир Дрюков")
				.members__text
					p.members__name Владимир Дрюков
					p.members__job-title.text
					p.members__description.text Изучение хакеров, их инструментария и векторов атак. Знания – золото, и как научиться их «намывать».
			.members__slider-item
				.members__avatar
					img.members__img(src="images/speaker-3.jpg" alt="Ирина Нестерова")
				.members__text
					p.members__name Ирина Нестерова
					p.members__job-title.text
					p.members__description.text Динамика рынка кибербезопасности в сегменте B2G. Что ждет от нас государственный заказчик.
			.members__slider-item
				.members__avatar
					img.members__img(src="images/speaker-4.jpg" alt="Николай Сивак")
				.members__text
					p.members__name Николай Сивак
					p.members__job-title.text
					p.members__description.text Кибербезопасность – катализатор роста коммерческого сегмента. Как разговаривать с бизнесом языком финансовых моделей.
			.members__slider-item
				.members__avatar
					img.members__img(src="images/speaker-5.jpg" alt="Галина Рябова")
				.members__text
					p.members__name Галина Рябова
					p.members__job-title.text
					p.members__description.text Атакоцентричные технологии – что это? Продуктовый портфель: как предложить решение 100% задач любой компании.
			.members__slider-item
				.members__avatar
					img.members__img(src="images/speaker-6.jpg" alt="Игорь Хереш")
				.members__text
					p.members__name Игорь Хереш
					p.members__job-title.text
					p.members__description.text Отраслевые инвестиции: развиваем свой бизнес – развиваем рынок.
			.members__slider-item
				.members__avatar
					img.members__img(src="images/speaker-7.jpg" alt="Роман Чаплыгин")
				.members__text
					p.members__name Роман Чаплыгин
					p.members__job-title.text
					p.members__description.text Эффективно – значит комплексно. Путь к созданию системной архитектуры для решения бизнес-задач клиентов.
			.members__slider-item
				.members__avatar
					img.members__img(src="images/speaker-8.jpg" alt="Марина Овсянникова")
				.members__text
					p.members__name Марина Овсянникова
					p.members__job-title.text
					p.members__description.text Особенности коммуникаций в период изменений. Интересно, когда сложно.
		button.btn.members__btn Попасть на мероприятие

