section.program.section-animation
	.wrapper.program__wrapper
		p.title-h3.program__title В преддверии делового сезона поделимся планами. Удивим новостями.
		.program__list
			.program__line-decor
				.program__line
			.program__item
				p.program__date.text 16:00–17:00
				.program__marker
					.program__circle
				.program__text-wrapper
					p.program__text.text Сбор участников, легкий коктейль
			.program__item
				p.program__date.text 17:00–18:30
				.program__marker
					.program__circle
				.program__text-wrapper
					p.program__text.text Деловая программа
			.program__item
				p.program__date.text 18:30–21:00
				.program__marker
					.program__circle
				.program__text-wrapper
					p.program__text.text Фуршет, свободное общение со спикерами
			.program__item
				p.program__date.text 18:50–19:40
				.program__marker
					.program__circle
				.program__text-wrapper
					p.program__text.text Сессия вопросов и ответов для СМИ
