.page-header {
	position: relative;
	overflow: hidden;
	background-color: var(--color-light-black);
	padding: {
		top: 22px;
		bottom: 47px;
	};

	@include desktop {
		padding-top: 25px;
		padding-bottom: 67px;
		height: 813px;
	}
}

.page-header__top-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 163px;

	@include tablet {
		margin-bottom: 157px;
	}

	@include desktop {
		margin-bottom: auto;
		width: 100%;
	}
}

.page-header__promo {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include desktop {
		width: 100%;
	}
}

.page-header__registration {
	padding: 8px 17px;
	min-width: auto;

	@include tablet {
		padding: 9px 14px 8px;
	}

	@include desktop {
		min-width: 211px;
		font-size: 15px;
		letter-spacing: -0.15px;
	}
}

.page-header__title {
	margin-bottom: 48px;

	@include tablet {
		margin-bottom: 35px;
	}

	@include desktop {
		margin-bottom: 65px;
	}
}

.page-header__text-date {
	margin-bottom: 16px;
	text-align: center;
	color: var(--color-orange);

	@include tablet {
		margin-bottom: 18px;
	}

	@include desktop {
		line-height: 22px;
	}
}

.page-header__text-address {
	margin-bottom: 31px;
	text-align: center;
	color: var(--color-white);

	@include tablet {
		margin-bottom: 36px;
	}

	@include desktop {
		margin-bottom: 56px;
	}
}

.page-header__logo {
	@include desktop {
		width: 153px;
	}
}

.page-header__wrapper {
	position: relative;

	@include desktop {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
}

.page-header__video {
	position: absolute;
	left: 50%;
	top: 98px;
	display: block;
	max-width: 100%;
	transform: translateX(-50%);

	@include tablet {
		top: 42px;
	}

	@include laptop {
		top: -9px;
	}

	@include desktop {
		position: absolute;
		left: 50%;
		top: auto;
		bottom: 0;
		display: block;
		width: 1420px;
	}
}
