.slider-progress {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 3px;
	width: 18px;
	height: 18px;

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 2;
		border: 2px solid var(--color-ligth-grey);
		border-radius: 50%;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		transform: translate(-50%, -50%);
	}
}

.slider-progress__wrapper {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.slider-progress__moon,
.slider-progress__darkside-moon {
	position: absolute;
	left: 0;
	top: 50%;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	background-color: var(--color-orange);
	transform: translateY(-50%);
}

.slider-progress__darkside-moon {
	background-color: var(--color-ligth-grey);
}
