.wrapper {
	margin: 0 auto;
	width: 100%;
	padding: {
		left: var(--padding-content);
		right: var(--padding-content);
	};

	@include tablet {
		--padding-content: 22px;
	}

	@include desktop {
		--padding-content: 25px;

		max-width: 1440px;
	}
}
