extends pug/base

append vars
	- title = "Безопасность за нами"
	- description = "Серьезная бизнес повестка в формате иммерсивной презентации-манифеста. Поделимся планами. Удивим новостями."
	- link.icon = "favicon.ico"
	- link.iconSvg = "favicons/favicon.svg"
	- link.appleTouchIcon = "favicons/180.png"
	- link.manifest = "favicons/site.webmanifest"
block head-start
	| <!-- Google Tag Manager -->
	|     <script>(function (w, d, s, l, i) {
	|             w[l] = w[l] || [];
	|             w[l].push({
	|                 'gtm.start':
	|                     new Date().getTime(), event: 'gtm.js'
	|             });
	|             var f = d.getElementsByTagName(s)[0],
	|                 j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
	|             j.async = true;
	|             j.src =
	|                 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
	|             f.parentNode.insertBefore(j, f);
	|         })(window, document, 'script', 'dataLayer', 'GTM-PBTP3X2');</script>
	|     <!-- End Google Tag Manager -->

block body-start
	| <!-- Google Tag Manager (noscript) -->
	| <noscript>
	|     <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PBTP3X2"
	|             height="0" width="0" style="display:none;visibility:hidden"></iframe>
	| </noscript>
	| <!-- End Google Tag Manager (noscript) -->
	include pug/blocks/header
block content
	include pug/blocks/members
	include pug/blocks/program
	include pug/blocks/registration
block footer
	include pug/blocks/footer

